@import "tailwindcss";

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.continue-p {
    color: #2563EB; /* Tailwind's blue-600 */
    cursor: pointer;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}